/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

.table {
   margin: auto;
   width: 50% !important; 
}


th {
  text-decoration: underline;
  background-color: #ffc6da 
}

label {
  text-decoration: underline;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #ffd8c6;
}

.banner {
  display: flex;
  justify-content: center;
  
  background-color: #c6eeff
}

.ingredient-buttons{
	display: flex;
	padding: 10px;
	justify-content: center;
	background-color: #c6eeff;
}

.recipe-banner {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

body {
	background-color: #daffc6;
}

.ingredient-input {
	display: flex;
    justify-content: center;
}
